*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/misc.xml
app/.gitignore
app/src/androidTest/java/com/mahmoodms/bluetooth/bluetoothemgv2/ApplicationTest.java
app/src/opencsv-3.7.jar
app/src/test/java/com/mahmoodms/bluetooth/bluetoothemgv2/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
